version: "3.8"
services:
  jobcord-bot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    env_file:
      - .env
    volumes:
      - ./:/app:ro
    restart: unless-stopped
    logging:
      options:
        max-size: "10m"
        max-file: "3"
